body{
    background-color: rgb(205, 216, 226);
}
*{
    margin: 0px;
    padding: 0px;
}

nav ul{
    display: flex;
    align-items: center;
    background-color: black;
    color: white;
    
}

ul li{

    list-style: none;
}

ul img{

    width: 70px;
    height: 50px;
}

nav li {
    padding: 0px 15px;
}

.bottom{
    height: 9vh;
    display: flex;
    justify-content:center;
    align-items: center;
    background-color: black;
    flex-direction: column;
    color: white;
    position: sticky;
}
.container{
    height: 70vh;
    background-color: black;
    color: white;
    display: flex;
    margin: 23px auto;
    width: 70%;
    border-radius: 10px;
    display: block;
    padding: 20px;
    background-image: url(/assesst/back-img-container.avif);   
}
#progressbar{
    width: 80vw;
    position: sticky;
}
.icon i{
    cursor: pointer;
}

.song{
display: flex;
justify-content: center;
align-items: center;
background-color: azure;
border-radius: 10px;
color: black; 
width: 40%;
height: 50px;
margin: 12px 0px;
display: block;

}

.songItem img{

    height: 40px;
    margin: 12px 23px ;
}
.song{
 display: flex;
 justify-content: center;
 align-items: center;
}
span{
    padding: 3px;
}